.containerLargePage {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.motoImg {
  width: 100%;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}
.textDegraus{
  color:red;
}

.freteLargeForm{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.freteLargeForm
  h2 {
  text-align: center;
  color: #333;
  margin-bottom: 1rem;

}



.freteLargeForm input {
  border: 1px solid #dbe91a;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  height: 35px;
  color: #777676;

}

input:focus::placeholder {
  opacity: 0; /* Oculta o placeholder */
}

.freteLargeForm select,
.freteLargeForm textarea {
  border: 1px solid #dbe91a;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  height: 45px;
  color: #777676;
}

.freteLargeForm input[type="date"],
.freteLargeForm input[type="time"],
.freteLargeForm input[type="number"] {
  
  width: 100%;
}

.freteLargeForm select {
  cursor: pointer;
  padding: 0.75rem;
}

.frete-form textarea {
  resize: vertical;
  min-height: 80px;
}

.freteLargeForm button {
  width: 100%;
  padding: 0.75rem;
  background-color: #1eff31;
  color: #0a2405;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.frete-form button:hover {
  background-color: #1c7ed6;
}

/* Estilo para campos condicionais */
.hidden-field {
  display: none;
}

.frete-form .visible {
  display: block;
}

#data{
  width: 100%;
}

input:focus::placeholder {
  opacity: 0; 
}

.containerDateLarge{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}

.horaLarge{
  margin: 0;
  margin-top: 10px;
}

.dataLarge{
  margin: 0;
  margin-top: 10px;
}

.containerTitleDateLarge{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerDataHoraLarge{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.containerDateLarge{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.containerInput{
  width: 100%;
}


@media (max-width: 600px) {
  .containerLargePage {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .frete-form {
    gap: 0.75rem;
  }

  .frete-form h2 {
    font-size: 1.25rem;
  }

  .frete-form input,
  .frete-form textarea {
    font-size: 0.9rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .frete-form select{
    width: 100%;
  height: 35px;

  }

  input:focus::placeholder {
    opacity: 0; /* Oculta o placeholder */
  }


  .frete-form button {
    font-size: 0.9rem;
    padding: 0.6rem;
  }

  input:focus::placeholder {
    opacity: 0; /* Oculta o placeholder */
  }

  .containerDateLarge{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }

  .horaLarge{
    margin: 0;
    margin-top: 10px;
  }

  .dataLarge{
    margin: 0;
    margin-top: 10px;
  }

  .containerDataHoraLarge{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}