.login-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  margin-bottom: 1rem;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-container form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
}

.login-container form button {
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container form button:hover {
  background-color: #0056b3;
}

.motoImg {
  width: 100%;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}
@media (max-width: 600px) {
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .login-container form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .login-container input {
    padding: 0.5rem;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 250px;
  }

  .motoImg {
    width: 70%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
  }


}