/* Container principal do Kanban Board */
.kanban-board {
  width: 90%;
  max-width: 1200px;
  height: auto;
  display: flex;
  gap: 20px;
  padding: 20px;
  overflow-x: auto;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-btn{
  height: 300px;
  display: flex;
  gap: 20px;
  padding: 20px;
  overflow-x: auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para as colunas */
.kanban-column {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 300px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Título da coluna */
.kanban-column h2 {
  text-align: center;
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Botão de buscar pedidos */
.btn-buscar {
  border: none;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  width: 70px;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Estilo dos cartões de pedidos */
.pedido-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: grab;
  height: auto;
}

/* Estilo de hover nos cartões */
.pedido-card:hover {
  background-color: #f1f1f1;
}

/* Estilo da área onde os cartões são arrastados */
.kanban-column {
  transition: background-color 0.3s ease;
  height: auto;
}

.kanban-column:active {
  background-color: #f1f1f1;
}

.pedido-card p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
  height: auto;
}

/* Estilo para quando o pedido for arrastado */
.pedido-card:active {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.pedido-card {
  cursor: grab;
  transition: transform 0.2s ease;
}

.pedido-card:active {
  cursor: grabbing;
}

/* Estilo da coluna quando um card está sendo arrastado sobre ela */
.kanban-column.drag-over {
  background-color: #e0f7fa; /* Cor de fundo ao arrastar */
}

.pedido-card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pedido-card li {
  margin-bottom: 8px;
  padding: 8px;
  background-color: #f9f9f9;
  border-radius: 4px;
}