.container-pedidos{
  min-height: 100vh;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  height:auto;
  margin-bottom: 10px;
  align-items: center;
  justify-content: start;
  background-color: rgb(223, 238, 241);
}

.card-kanban{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  flex-direction: column;

}