.modal-overlay {
  display: flex;
  flex-direction: column;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000; 
  background: rgba(0, 0, 0, 0.5); /* Fundo escuro */

}
.modal-all{
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 30%; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 10000; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
}

.modal-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  

}

.modal-text{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-text h2 {
  margin: 0;
}

.modal-text p {
  margin: 0;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 10001; /* Para garantir que o botão não fique atrás de nada */
}

.area-item-all {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  height: auto;
  border-radius: 5px;
}



.area-item-all input {
  width: 40px;
  text-align: center;
}

.area-item-all label {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  width: 240px;
  text-align: center;
}
.name-item{
  width: 150px;
  margin-left: 5px;

}

.name-item p {
  margin: none;
  font-size: large;
  font-weight: 900;
}

.checkbox-container{
  width: 100px;
}

.input-filter {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid gray;
  border-radius: 5px;
}

.modal-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.img-modal{
  width: 300px;
  height: 100%;
}

.modal-button {
  width: 100%;
  background: green;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
}

.cont-item{
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
}

.cont-item-all{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
  
  background-color: rgb(255, 174, 0);
}

.cont-item button {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
} 

.cont-item span{
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.container-checkbox{
  margin-bottom: 5px;
}

.container-button-avançar{
  width: 100%;
}

.observacao-container {
  margin-top: 20px;
}

.observacao-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.observacao-container textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; /* Permite redimensionar verticalmente */
}




@media (max-width: 600px){

.modal-overlay {
  display: flex;
  flex-direction: column;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000; 
}
.modal-all{
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 10000; 
  display: flex;
  flex-direction: column;
  height: auto;
}

.modal-content {
  width: 95%;
  display: flex;
  flex-direction: column;
  height: 100%;

}

.modal-text{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-text h2 {
  margin: 0;
}

.modal-text p {
  margin: 0;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 10001; /* Para garantir que o botão não fique atrás de nada */
}

.area-item-all {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  height: auto;
  border-radius: 5px;
}



.area-item-all input {
  width: 40px;
  text-align: center;
}

.area-item-all label {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  width: 240px;
  text-align: center;
}
.name-item{
  width: 150px;
  margin-left: 5px;
  margin: none;
  

}

.name-item p {
  margin: none;
  font-size:medium;
  font-weight: 300;
}

.checkbox-container{
  width: 100px;
}

.input-filter {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid gray;
  border-radius: 5px;
}

.modal-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.img-modal{
  width: 200px;
  height: 180px;
  border-radius: 5px;
}

.modal-waring{
  width: 90%;
  background-color: red;
  color: aliceblue;
}

.modal-button {
  width: 95%;
  background: rgb(0, 34, 128);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
}

.cont-item{
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  margin-right: 5px;
}

.cont-item-all{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
  
  background-color: rgb(255, 174, 0);
}

.cont-item button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
} 

.cont-item input {
  width: 30px;
  height: 24px;
  font-size: 20px;
  
}
.cont-item span{
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.container-checkbox{
  margin-bottom: 5px;
}

.container-button-avançar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vermelho{
  color: red;
}

.observacao-container {
  margin-top: 20px;
}

.observacao-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.observacao-container textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; /* Permite redimensionar verticalmente */
}

}